{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block head_title %} User {% endblock %}

{% block content %}  

<div class="container text-dark mt-1">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{user_form|crispy}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-md-4">
        {{ profile_form|crispy }}               
        </form>   
    </div>
    <div class="col-md-4">
    {% if request.user.profile.avatar %}
      <img src="{{request.user.profile.avatar.url}}" class="img-fluid" alt="">
    {% endif %}         
    </div>
  <div>
</div> 

{% endblock content %}
 